* {
    overflow: visible;
}

body{
    background-color: #8ba1bb;
    font-family: Bree-sheriff;
}

div.contenu {
    background-color: white;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
}

p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 0px;
    margin-top: -15px;
    font-weight: bold;
    font-size: 16px;
}

div.categorie {
    margin-bottom: 0px;
    margin-top: 0px; 
}

div.separateur {
    height: 1px;
    background-color: black;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

.centre {
    text-align: center;
    width: 100%;
}

div.info {
    position: relative;
}

table.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6c829dc0;
    height: 70px;
}

table.info td {
    text-align: center;
    font-size: 14px;
    vertical-align: top;
    font-style: italic;
}

table.info th {
    text-align: center;
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 2px;
}

img.info {
    display: block;
    max-height: 600px;
    object-fit: cover;
    min-height: 200px;
}

div.colonne {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: auto;
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 10px solid #6c829d;
    padding-bottom: 10px;
}

div.colonne1 {
    display: inline-block;
    margin-right: 10%;
}

div.ingredients p {
    text-align: center;
    border: 1px solid lightgray;
    font-size: 14px;
    padding: 8px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

div.ingredients {
    margin-top: 15px;
}

div.colonne2 {
    float: right;
}

table.preparation p.numero {
    background-color: #6c829d;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 25%;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr {
    height: 50px;
}
